/* Stylesheet for w4 p2!! */

header { /*this is my header element - I learned I DON'T need to make it a "class" */
  text-align: center;
  font-size: 7px;
  font-family: verdana, sans-serif;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.5);
  background-color: #FFF7C6; /*found a nice site, bookmarked it - HTML color codes */
  border-style: dashed;
  border-color: #E4D88F;
  border-width: thin;
  /* margin-left: 36%;
  margin-right: 36%; */
}

h2 {
  color: #6F0252;
  background-color: #78EE58;
  font-variant: small-caps; /* I sometimes write like this and love that it's a thing */
  /* border-radius: 10%; */ /* just trying and clearing stuff */
  border-style: double;
  text-align: center;
  font-size: 45px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #78EE58;
  background-color: #60115C;
  font-variant: small-caps;
  border-radius: 50%;
  border-style: double;
  text-align: center;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
}

img {
  width: 100%;
  display: block;
}

body {
  background-color: #FFEC7A;
}

p {
  padding-top: 30px;
  text-align: center;
  font-family: cursive;
}
