/* Stylesheet for w4 p2!! */

header {
  text-align: center;
  font-size: 10px;
  font-family: verdana, sans-serif;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.3);
  background-color: #E3E3E3;
  border-style: dashed;
  border-color: #D1D1D1;
  border-width: thin;
  margin-left: 30%;
  margin-right: 30%;
}

h2 {
  color: #6F0252;
  background-color: #78EE58;
  font-variant: small-caps;
  border-radius: 50%;
  text-align: center;
  font-size: 45px;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
}

img {
  width: 100%;
  display: block;
}

p {
  padding-top: 30px;
  text-align: center;
  font-family: cursive;
}
